<html>
    <head>
        <!-- Bootstrap support -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap support -->

        <!-- Javascript files -->
        <script src="./../static/manipulateContainer.js"></script>
        <script src="./../static/getDockerData.js"></script>
        <!-- Javascript files -->
    <head>

    <body>
        <!-- TODO must define a bettet/intuitive interface-->
        <!-- Get all containers and list them each with their own buttons and resources/information -->
        <!-- Such as stats, running processes, names, id, networks and ports -->
        <input type='text' name='textInput' id='imageName'>
        <button onclick="manipulateContainer('createContainer')">Spin up container</button>
        <button onclick="manipulateContainer('stopContainer')">Stop container</button>
        <button onclick="manipulateContainer('removeContainer')">Remove container</button>
        <button onclick="manipulateContainer('startContainer')">Start container</button>
        <button onclick="manipulateContainer('restartContainer')">Restart container</button>
        <br>
        <button onclick="getDockerData('getAllContainers')">Get all data</button>
        <button onclick="manipulateContainer('getContainerProcesses')">Get container processes</button>
        <button onclick="manipulateContainer('getContainerLogs')">Get container Logs</button>
        <button onclick="manipulateContainer('getContainerStats')">Get container Stats</button>
        <br>
        <input type='text' name='textInput' id='containerProcess'>
        <button onclick="getDockerProcess('getProcessStatus')">Get process status</button>




        {{ world }}
    </body>
</html>